{%extends "base.html"%}

{%block head%}
<style>
    .table-responsive {
            position: relative;
        }

        .table thead th {
            position: sticky;
            top: 0;
            background-color: #26282a;
            z-index: 1;
        }
        .scrolling-wrapper {
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
</style>
{%endblock%} 

{%block content%}    
    <div class="container mt-5 bg-white rounded shadow-sm">
        Welcome {{professional.user.firstname}} !
    </div>

    <!-- table -->
    <div class="container mt-5 bg-white shadow-sm rounded p-2" >
        <h2 class="mb-4">Available Services</h2>
            {% if today_services %}
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>S No.</th>
                            <th>Service Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Duration</th>
                            <!-- <th>status</th> -->
                            <th>Request Date</th>
                            <th>Customer Name</th>
                            <th>Address</th>
                            <th>Pincode</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for booking in today_services %}
                            
                            <tr class="{% if loop.index % 2 == 0 %}table-light {% else %}table-active{% endif %}">
                                    <td>{{loop.index}}</td>
                                    <td>{{booking.service.name }}</td>
                                    <td>{{booking.service.description }}</td>
                                    <td>{{booking.service.category.name }}</td>
                                    <td>Rs {{ (booking.service.price/100)*80  }}</td>
                                    <td>{{ booking.service.duration }} hrs</td>
                                    <!-- <td>{{booking.status}}</td> -->
                                    <td>{{booking.request_date}}</td>
                                    {%if booking.customer %}
                                    <td>{{booking.customer.firstname}} {{booking.customer.lastname}}</td>
                                    <td>{{booking.customer.address}}</td>
                                    <td>{{booking.customer.pincode}}</td>
                                    {%else%}
                                    <td>Not Available</td>
                                    <td>Not Available</td>
                                    <td>Not Available</td>
                                    {%endif%}
                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#bookingModal{{ booking.id }}">
                                            Accept
                                        </button>
                                        
                                    </td>
                                </tr>
                            <!-- Booking Modal with unique ID for each service -->
                            <div class="modal fade" id="bookingModal{{ booking.id }}" tabindex="-1" aria-labelledby="bookingModalLabel{{ booking.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="bookingModalLabel{{ booking.id }}">Booking Request Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Service Details -->
                                            <h6>Service Information</h6>
                                            
                                            <p><strong>Service Name:</strong> {{ booking.service.name }}</p>
                                            <p><strong>Category:</strong> {{ booking.service.category.name }}</p>
                                            <p><strong>Service Details</strong> {{booking.service.description}}</p>
                                            <p><strong>Duration:</strong> {{ booking.service.duration }}</p>
                                            <p><strong>Request Date</strong> {{ booking.request_date }}</p>
                                            <p><strong>Price:</strong> Rs {{ (booking.service.price/100)*80  }}</p>                
                                            <!-- professional Details -->
                                            <hr>
                                            <h6>Customer Information</h6>
                                            {%if booking.customer %}
                                            <p><strong>Customer Name:</strong> {{ booking.customer.firstname }} {{booking.customer.lastname}}</p>
                                            <p><strong>Customer Phone Number:</strong> {{ booking.customer.phone_number }}</p>
                                            <p><strong>Customer Address:</strong> {{ booking.customer.address }}</p>
                                            <p><strong>Address Pincode:</strong> {{ booking.customer.pincode }}</p>
                                            {%else%}
                                            <p><strong>Customer Details are not available</strong></p>
                                            {%endif%}

                                        </div>
                                        <div class="modal-footer">
                                            <form action="{{ url_for('accept_booking', booking_id=booking.id ,professional_id=professional.user.uuid ) }}" method="POST">
                                                <button type="submit" class="btn btn-success">Accept</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No services available at the moment.</p>
        {% endif %}
    </div>


    
    <!-- Assigned Services table -->
    <div class="container mt-5 bg-white shadow-sm rounded p-2" >
        <h2 class="mb-4">Assigned Services</h2>
            {% if assigned_services %}
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>S No.</th>
                            <th>Service Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Duration</th>
                            <!-- <th>status</th> -->
                            <th>Request Date</th>
                            <th>Customer Name</th>
                            <th>Address</th>
                            <th>Pincode</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for booking in assigned_services %}
                            
                            <tr class="{% if loop.index % 2 == 0 %}table-light {% else %}table-active{% endif %}">
                                    <td>{{loop.index}}</td>
                                    <td>{{booking.service.name }}</td>
                                    <td>{{booking.service.description }}</td>
                                    <td>{{booking.service.category.name }}</td>
                                    <td>Rs {{ (booking.service.price/100)*80  }}</td>
                                    <td>{{ booking.service.duration }} hrs</td>
                                    <!-- <td>{{booking.status}}</td> -->
                                     <td>{{booking.request_date}}</td>
                                    {%if booking.customer %}
                                    <td>{{booking.customer.firstname}} {{booking.customer.lastname}}</td>
                                    <td>{{booking.customer.address}}</td>
                                    <td>{{booking.customer.pincode}}</td>
                                    {%else%}
                                    <td>Not Available</td>
                                    <td>Not Available</td>
                                    <td>Not Available</td>
                                    {%endif%}
                                    <td>
                                        <a href="/reject_booking/{{booking.id}}/{{professional.uuid}}">
                                            <button type="button" class="btn btn-outline-danger btn-sm"  >
                                                Reject
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No assigned services available at the moment.</p>
        {% endif %}
    </div>


    <!-- Search Bar -->
     <div class="container mt-2">
    <form method="GET" action="/professional/dashboard" class="row g-3 mb-3">
        <div class="col-md-3">   
            <select name="filter" class="form-select" required>
                <option value="" disabled selected>Select Filter</option>
                <option value="name" {% if request.args.get('filter') == 'name' %}selected{% endif %}>Service Name</option>
                <option type="date"  value="date" {% if request.args.get('filter') == 'date' %}selected{% endif %}>Date</option>
                <option value="location" {% if request.args.get('filter') == 'address' %}selected{% endif %}>Address</option>
                <option value="pincode" {% if request.args.get('filter') == 'pincode' %}selected{% endif %}>Pincode</option>
            </select>
        </div>
        <div class="col-md-6">
            <input type="text" name="query" class="form-control" placeholder="Enter search text" value="{{ request.args.get('query') or search }}" required>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary w-100">Search</button>
        </div>
        <div class="col-md-3">
            <a href="/professional/dashboard" class="btn btn-secondary btn-sm">Clear</a>
        </div>
    </form>
    </div>
    
    <!-- service hstory table -->
    <div id="mybookings" class="container mt-5 mb-4">
        <h2 class="mb-4">Service History</h2>
            {% if service_history %}
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>S No.</th>
                            <th>Date</th>
                            <th>Customer Name</th>
                            <th>Address</th>
                            <th>Service Name</th>
                            <th>Price</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Rating</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for booking in service_history %}
                            
                            <tr class="{% if loop.index % 2 == 0 %}table-light {% else %}table-active{% endif %}">
                                    <td>{{loop.index}}</td>
                                    <td>{{booking.request_date}}</td>
                                    {%if booking.customer %}
                                    <td>{{booking.customer.firstname}} {{booking.customer.lastname}}</td>
                                    <td>{{booking.customer.address}}</td>
                                    {%else%}
                                    <td>Not available</td>
                                    <td>Not available</td>
                                    {%endif%}
                                    <td>{{ booking.service.name }}</td>
                                    <td>Rs {{ (booking.service.price/100)*80  }}</td>
                                    <td>{{ booking.service.duration }} hrs</td>
                                    <td>{{ booking.status }}</td>
                                    <td>{{ booking.rating }} / 5</td>
                                    
                                    <td>
                                        <!-- <a href="#" class="btn btn-primary btn-sm">View Details</a> -->
                                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#bookingModal{{ booking.id }}">
                                            view details
                                        </button>
                                        <a href="/complaint/{{booking.cust_id}}" onclick=" return confirm('are you sure to report this professional?')" class="btn btn-outline-danger btn-sm">Report Customer</a>

                                    </td>
                                </tr>
                            <!-- Booking Modal with unique ID for each service -->
                            <div class="modal fade" id="bookingModal{{ booking.id }}" tabindex="-1" aria-labelledby="bookingModalLabel{{ booking.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="bookingModalLabel{{ booking.id }}">Booking Request Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Service Details -->
                                            <h6>Service Information</h6>
                                            
                                            <p><strong>Booking ID:</strong> {{ booking.id }}</p>
                                            <p><strong>Booking Status:</strong> {{ booking.status }}</p>
                                            <p><strong>Service Name:</strong> {{ booking.service.name }}</p>
                                            <p><strong>Category:</strong> {{ booking.service.category_id }}</p>
                                            <p><strong>Service Details</strong> {{booking.service.description}}</p>
                                            <p><strong>Duration:</strong> {{ booking.service.duration }}</p>
                                            <p><strong>Price:</strong> Rs {{ (booking.service.price/100)*80  }}</p>                
                                            <p><strong>Service Rating</strong> {{booking.rating}} </p>
                                            <hr>
                                            
                                            <p><strong>feedback</strong> {{booking.feedback}} </p>


                                            <hr>
                                            <!-- professional Details -->
                                             {%if booking.customer %}
                                            <h6>Customer Information</h6>
                                            <p><strong>Customer Name:</strong> {{ booking.customer.firstname }} {{booking.customer.lastname}}</p>
                                            {%else%}
                                            <p>customer details not available</p>
                                            {%endif%}
                                            <!-- <p><strong>Customer Phone Number:</strong> {{ booking.customer.phone_number }}</p>
                                            <p><strong>Customer Address:</strong> {{ booking.customer.address }}</p> -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No History available at the moment.</p>
        {% endif %}
        
    </div>


{%endblock%}