{% extends 'base.html' %}

{% block content %}
{% include "./admin/admin_dashboard.html" %}
{% block head %}
<style>
    

    .table-responsive {
        /* max-height: 400px; */
        overflow-y:auto;

    }
    .table {
        background: #ffffff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .table th {
        position: sticky !important;
        background-color: rgba(0,0,0,0.5);
        color: #ffffff;
    }
    .table thead th {
        position: sticky !important;
        top: 0;
        background-color: rgba(0,0,0 ); /* Match header background color */
        z-index: 1; /* Ensure it stays above the body rows */
    }

    .table td {
        color: #000000;
    }

    .table-hover tbody tr:hover {
        background-color: #f8f9fa;
    }

/* ------------------------------------------ */
    .modal-header {
        background-color: rgba(0,0,0,0.7);
        color: white;
        font-weight: bold;
    }

    .modal-title {
        font-size: 1.25rem;
    }

    .modal-body {
        background-color: #f9f9f9;
    }

    .form-group label {
        font-weight: bold;
    }

    .form-control {
        border-radius: 8px;
        padding: 10px;
        font-size: 0.9rem;
    }

    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .btn-close {
        background-color: #ffffff;
        border-radius: 25%;
    }

    .btn-close:hover {
        background-color: #ffffff;
    }

    .save-btn {
        background-color: #28a745;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 1rem;
    }

    .save-btn:hover {
        background-color: #218838;
    }

    .modal-footer {
        border-top: 1px solid #ddd;
    }

    .modal-dialog {
        max-width: 600px;
    }

    .modal-content {
        border-radius: 8px;
    }

    .btn-info {
        background-color: #19d7f4;
        border-radius: 25px;
    }

    .btn-info:hover {
        background-color: #19b7cf;
    }

    .btn-danger {
        background-color: #dc3545;
        border-radius: 25px;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }

    .btn-secondary{
        border-radius: 25px;
    }
    .btn-warning{
        border-radius: 25px;
    }
    
    /* ---------------- */
    /* Custom styles for the dropdown button */
    .btn-custom {
        background-color: rgba(0,0,0, 0.5); /* Primary Blue */
        color: white;
        border-radius: 25px; /* Rounded edges */
        font-size: 14px;
        padding: 8px 16px;
        transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
    }

    .btn-custom:hover {
        color: white;
        background-color: rgba(0,0,0, 0.7); /* Darker Blue on hover */
        transform: scale(1.05); /* Slight scale effect */
    }

    .dropdown-menu {
        background-color: #f8f9fa; /* Light background for the dropdown */
        border-radius: 10px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow for dropdown */
    }

    .dropdown-item {
        font-size: 14px;
        padding: 8px 20px;
        transition: background-color 0.3s ease; /* Smooth hover effect */
    }

    .dropdown-item:hover {
        background-color: #0d0d0e;
        color: white; /* Change color when hovering */
    }
    .dropdown-item i {
        margin-left: 10px;
        color: #007bff; /* Optional: Match the icon color to the theme */
    }

    .text-uppercase {
        font-weight: bold;
    }

</style>
{% endblock %}

<div class="main-content">
    <h1 class="dashboard-title">Manage Bookings</h1>

    

    <!-- Search Bar -->
    <form class="mb-4" action="/admin/manage-bookings" method="GET">
        <input type="text" name="search" class="form-control" placeholder="Search by Service name, customer name, status" value="{{ request.args.get('search') or search }}">
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>





    <!-- Customers Table -->
    <h5>Bookings</h5>
    {% if bookings %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Booking ID</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Booking Date</th>
                        <th scope="col">Date Of Request</th>
                        <th scope="col">Status</th>
                        <th scope="col">rating</th>
                        <th scope="col">feedback</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <th scope="row">{{ booking.id }}</th>
                            <td>{{ booking.customer.firstname }} {{ booking.customer.lastname }}</td>
                            <td>{{ booking.service.name }}</td>
                            <td>{{ booking.booking_date }}</td>
                            <td>{{ booking.request_date }}</td>
                            <td>{{ booking.status}}</td>
                            <td>{{ booking.rating }} /5</td>
                            <td>{{ booking.feedback }}</td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#bookingModal{{ booking.id }}">
                                    View/Edit
                                </button>
                                {% if booking.status not in ["closed", "canceled"] %}
                                <a href="/cancel_booking/{{booking.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to cancel this booking request')" >Cancel</a>
                                {%endif%}
                            </td>
                        </tr>

                        <!-- Combined View/Edit Modal -->
                        <div class="modal fade" id="bookingModal{{ booking.id }}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <form method="POST" action="/admin/manage-bookings">
                                        <div class="modal-header rounded">
                                            <h5 class="modal-title">Booking Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Booking ID</label>
                                                <input type="text" class="form-control mb-2" name="id" value="{{ booking.id }}" readonly >
                                            </div>
                                            
                                            <div class="form-group">
                                                <label>Booking Status</label>
                                                <select class="form-control" name="status">
                                                    <option value="active" {% if booking.status == 'active' %}selected{% endif %}>Active</option>
                                                    <option value="closed" {% if booking.status == 'closed' %}selected{% endif %}>Closed</option>
                                                    <option value="canceled" {% if booking.status == 'canceled' %}selected{% endif %}>Canceled</option>
                                                </select>
                                            </div>
                                            {% if booking.professional %}
                                            <div class="form-group">
                                                <label>Professional Name</label>
                                                <input class="form-control" name="name" value="{{booking.professional.user.firstname}} {{booking.professional.user.lastname}}" readonly></input>
                                            </div>
                                            <div class="form-group">
                                                <label>Professional ID</label>
                                                <input class="form-control" name="professional_uuid" value="{{booking.professional.uuid}}" readonly></input>
                                            </div>
                                            {% else %}
                                            <div class="form-group">
                                                <label>Professional Details</label>
                                                <input class="form-control" name="address" value="Professional Not Assigned" readonly></input>
                                            </div>
                                            {% endif %} 
                                            <div class="form-group">
                                                <label>Service Name</label>
                                                <input type="text" class="form-control mb-2" name="service_name" value="{{ booking.service.name }}" readonly >
                                            </div>
                                            
                                            <div class="form-group">
                                                <label>Date Of Request</label>
                                                <input type="date" class="form-control mb-2" name="request_date" value="{{ booking.request_date }}" >
                                            </div>
                                            <div class="form-group">
                                                <label>booking Date</label>
                                                <input type="date" class="form-control mb-2" name="booking_date" value="{{ booking.booking_date }}" readonly></input>
                                            </div>
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input class="form-control" name="address" value="{{booking.customer.address}}" readonly></input>
                                            </div>
                                            <div class="form-group">
                                                <label>pincode</label>
                                                <input class="form-control" name="pincode" value="{{ booking.customer.pincode }}"readonly></input>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label>Last Update at</label>
                                                <input class="form-control" name="updated_at" value="{{ booking.updated_at }}" readonly></input>
                                            </div>
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary save-btn ">Save Changes</button>
                                            <a href="/cancel_booking/{{booking.id}}" class="btn btn-danger " onclick="return confirm('Are you sure to cancel this booking!')" >Cancel</a>
                                            
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>No Bookings found.</p>
        {% endif %}

</div>
{% endblock %}
