{% extends 'base.html' %}
{% block head %}
<style>
    .container {
    max-width: 800px;
    margin: auto;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #f8f9fa;
}

h2 {
    color: #343a40;
    font-weight: bold;
}

p {
    color: #6c757d;
    line-height: 1.6;
}

</style>

{%endblock%}
{% block content %}
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='pic/my_photo.jpg') }}" class="img-fluid rounded-circle shadow-lg" alt="Your Photo">
        </div>
        <div class="col-md-8">
            <h2 class="mb-3">About Me</h2>
            <a style="font-size: larger;" href="https://www.linkedin.com/in/jatishchawla" ><i class="bi bi-linkedin"></i></a>
            

            <p class="lead">
                Hello! I am JATISH CHAWLA , the sole creator of this project. I have a passion for developing user-friendly applications and crafting efficient solutions for modern problems. 
                With a keen interest in Problem solving , Coding , DSA , Web development, I strive to continuously learn and grow in the tech world. This platform is a testament to my dedication, creativity, and persistence.
            </p>

            
        </div>
    </div>
</div>
{% endblock %}
