{%extends "base.html"%}


{%block head%}
    <link
      href="{{url_for('static',filename='css/profile.css')}}"
      rel="stylesheet"
    />
{%endblock%}

{%block content%}

<div class="container profile-container">
    <!-- Profile View Section -->
    <div class="card mb-4">
      <div class="card-header text-center">
        <h2>Your Profile</h2>
      </div>
      <div class="card-body">
        <div class="profile-header mb-3">
          <img src="https://lh3.googleusercontent.com/lNYd4dMKDTYzZdZi0dJDOvoRwjgzOdo6w5EGB_YKv308rIEEC87NKH6fn0P-JBjZwVjWrCqdErK3LV_-jjunjGEBZ1P8lrbWaRE0vZtH=s192"
          alt="User Profile Picture">
          <div>
            <h5 class="card-title" id="profile-name">{{user.firstname}} {{user.lastname}}</h5>
            <p class="text-muted" id="profile-email">{{user.email}}</p>
          </div>
        </div>
        <div class="mb-3">
          <strong>Phone:</strong> <span id="profile-phone">{{user.phone_number}}</span>
        </div>
        <div class="mb-3">
          <strong>Pincode:</strong> <span id="profile-pincode">{{user.pincode}}</span>
        </div>
        <div class="mb-3">
          <strong>Address:</strong> <span id="profile-address">{{user.address}}</span>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customerModal{{ user.uuid }}">View / Edit</button>
      </div>
    </div>

     <!-- Combined View/Edit Modal -->
      <div class="modal fade" id="customerModal{{ user.uuid }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="/edit-user/{{ user.uuid }}">
                    <div class="modal-header rounded">
                        <h5 class="modal-title">Customer Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>User ID</label>
                            <input type="text" class="form-control mb-2" name="id" value="{{ user.uuid }}" readonly >
                        </div>
                        <div class="form-group">
                            <label>User Status</label>
                            <input type="text" class="form-control mb-2" name="status" {% if user.status %} value="Active"{% else %}value="Inactive"{% endif %} readonly >
                        </div>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control mb-2" name="firstname" value="{{ user.firstname }}" >
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control mb-2" name="lastname" value="{{ user.lastname }}" >
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control mb-2" name="email" value="{{ user.email }}" >
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" class="form-control mb-2" name="phone_number" value="{{ user.phone_number }}" >
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" name="address" rows="2" >{{ user.address }}</textarea>
                        </div>
                        <div class="form-group">
                            <label>pincode</label>
                            <input class="form-control" name="pincode" value="{{ user.pincode }}"></input>
                        </div>
                        {%if user.role_id == 2 %}
                          <div class="form-group">
                              <label>Service Type / Skill</label>
                              <input class="form-control" name="skill" value="{{ professional.skill }}" readonly></input>
                          </div>
                          
                          <div class="form-group">
                              <label>Experience (years)</label>
                              <input class="form-control" name="experience" value="{{ professional.experience }}"></input>
                          </div>
                          <div class="form-group">
                              <label>Salary (INR)</label>
                              <input class="form-control" name="salary" value="{{ professional.salary or 0 }}" readonly></input>
                          </div>
                        {%endif%}
                        <div class="form-group">
                            <label>Date of Joining</label>
                            <input class="form-control" name="created_at" value="{{ user.created_at }}" readonly></input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary save-btn ">Save Changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  

  </div>

{%endblock%}