/* USED BY BASE.HTML (BASE3.HTML EARLIER) */

.bg-custom-blue {
    background-color: #007bff;
}
.service-card {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #007bff;
      border-radius: 10px;
      font-weight: bold;
      color: #007bff;
  }

  .alert-fixed {
      position: fixed;
      bottom: 40px;
      right: 40px;
      width: 300px;
      z-index: 1000;
  }